.order-block {
    display: flex;
    justify-content: space-between;
}


.sub-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{em(70px)});
    display: flex;
    flex-wrap: wrap;
    transition: opacity $speed, visibility $speed;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $w;
        height: em(70px);
        border-bottom: 1px solid $light;
        &--title {
            font-size: em(18px);
            color: $brand-main;
            text-transform: uppercase;
            font-weight: bold;
        }
        &--button {
            display: flex;
        }
    }
    &__list{
        width: calc(100% / 2 );
        background: $brand-main;
        background: linear-gradient(to right, $brand-second , $brand-main);
        height: 100%;
        overflow-y: scroll;
      /*  &--list {
            flex: 1;
            display: flex;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 50%;
                min-height: min-content;
                cursor: pointer;
                padding-top: em(35px, 18px);
                padding-bottom: em(35px, 18px);
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                a{
                    color: $w;
                    font-size: em(18px);
                    text-transform: uppercase;
                }
            }
        }*/
    }
}