%btn {
    max-width: em(170px);
    padding: em(15px) em(35px);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: em(30px);
}
.button {
    @extend %btn;
    background: $brand-main;
    background: linear-gradient(to right, $brand-second , $brand-main);
    color: white;

    &--reverse {
        @extend %btn;
        background: $w;
        color: $anthracite-dark;
    }
}



