%btn {
    min-width: em(170px);
    padding: em(15px) em(35px);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: em(30px);
    display: inline-block;
    box-shadow: 0 0 em(32px) transparentize($b, .85);
    font-size: em(18px);
    transition: box-shadow $speed;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
        content: '';
        @include absfull();
        opacity: 0;
        transition: opacity $speed;
    }
    &:hover {
        box-shadow: 0 em(10px) em(32px) transparentize($b, .8);
        &:before {
            opacity: 1;
        }
    }
}
.button {
    @extend %btn;
    background: $brand-main;
    background: linear-gradient(to right, $brand-second , $brand-main);
    color: white;
    &:before{
        background-color: $brand-main;
    }

    &__label {
        cursor: pointer;
        position: relative;
        transition: text-shadow $speed;
        backface-visibility: hidden;
    }

    &:hover {
        .button__label {
            text-shadow: 0 2px 10px transparentize($b, .8);
        }
    }
    &--reverse {
        @extend %btn;
        background: $w;
        color: $anthracite-dark;
        &:before{
            background-color: $light;
        }

    }
    &--rotate {
        @extend %btn;
        font-size: em(14px);
        transform: rotate(-90deg);
        backface-visibility: hidden;
    }
}



