.catalog {
    &__item {
        background-size: cover;
        position: relative;
        /*&:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba( 0, 0, 0, 0.5);
        }*/
    }
    .block {
        @include grow(true, false, false);
        max-width: 775px;
        margin: 0 auto;
        background-color: $w;
        &__title {

        }

    }
}