.catalog {
    &__item {
        background-size: cover;
        position: relative;
        padding-left: em(100px);
        padding-right: em(100px);
        cursor: pointer;
        &:hover {
            .block__title {
                color: $brand-main;
            }
            .block__button {
                right: -50px;
                transform: rotate(-90deg) translateY(150%);
            }
            /* &:after {
                 width: 100%;
             }*/
        }
        /*  &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              width: 0%;
              height: 100%;
              background-color: rgba( 0, 0, 0, 0.5);
              transition: width $speed;
          }*/
    }
    .block {
        @include grow();
        position: relative;
        max-width: 775px;
        margin: 0 auto;
        background-color: $w;
        z-index: 2;
        &__title {
            @include grow();
            font-size: em(48px);
            color: $anthracite-dark;
            font-weight: lighter;
            line-height: 1;
            transition: color $speed;
        }
        &__description {
            @include grow();
            font-size: em(18px);
            line-height: $interline;
            color: $gray-light;
        }
        &__button {
            z-index: 1;
            position: absolute;
            top: 50%;
            right: -100%;
            transition: transform $speed, right $speed;
            transition-timing-function: cubic-bezier(.41, .22, .43, .99);
        }
        &__submenu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .item {
                padding-left: em(20px);
                padding-right: em(20px);
                a {
                    color: $b;
                    transition: color $speed;
                    text-transform: uppercase;
                    font-size: em(14px);
                    &:hover {
                        color: $brand-main;
                    }
                }
            }
        }

    }
}