.catalog {
    &__item {
        background-size: cover;
        position: relative;
        padding-left: em(100px);
        padding-right: em(100px);
        /*&:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba( 0, 0, 0, 0.5);
        }*/
    }
    .block {
        @include grow();
        max-width: 775px;
        margin: 0 auto;
        background-color: $w;
        z-index: 2;
        &__title {
            @include grow();
            font-size: em(48px);
            color: $anthracite-dark;
            font-weight: lighter;
            line-height: 1;
        }
        &__description {
            @include grow();
            font-size: em(18px);
            line-height: $interline;
            color: $gray-light;
        }
        &__button {
            z-index: 1;
            position: absolute;
            top: 50%;
            right: 50%;
        }

    }
}