.divider {
    text-align: center;
    &__title {
        font-size: em(34px);
        color: $brand-main;
        text-transform: uppercase;
    }
    &__paragraph {
        font-size: em(18px);
    }
    .button {
        margin-top: em(40px);
        margin-bottom: em(40px);
    }
    &--enphasis {
        &__title, &__paragraph{
            color: $w;
        }
    }
}
