.form {
    @include grow();
    &-title {
        text-transform: uppercase;
        text-align: center;
        font-size: em(48px);
        color: $brand-main;
        font-weight: lighter;
        padding-bottom: em(70px, 48px);
    }
    &-input {
        .your-name, .your-surname, .your-email, .your-phone {
            width:100%;
            @include breakpoint($bp) {
                width: 50%;
            }
        }
    }
    input, textarea{
        width: 100%;
    }
    span {
        padding: em(20px) em(40px);
    }
}
