.form {
    @include grow();
    &-title {
        text-transform: uppercase;
        text-align: center;
        font-size: em(48px);
        color: $brand-main;
        font-weight: lighter;
        padding-bottom: em(70px, 48px);
    }
    &-input {
        input, textarea{
            width: 100%;
            font-size: em(18px);
            padding: em(30px, 18px);
        }
        span {
            padding-top: em(20px);
            padding-bottom: em(20px);
        }
        .your-name, .your-surname, .your-email, .your-phone {
            width:100%;
            @include breakpoint($bp) {
                width: 50%;
            }
        }
        span:nth-child(odd){
            padding-right: 0;
            @include breakpoint($bp) {
                padding-right: em(25px);
            }
        }
        span:nth-child(even){
            padding-left: 0;
            @include breakpoint($bp) {
                padding-left: em(25px);
            }
        }
        .message {
            width:100%;
            padding-right:0!important;
            padding-top: em(20px);
            padding-bottom: em(20px);
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint($bp) {
            justify-content: space-between;
        }
        .check {
            width:100%;
            padding-bottom: em(20px);
            @include breakpoint($bp) {
                padding-bottom: 0;
                width:auto;
            }
        }
        .ajax-loader {
            width:100%;
        }
    }


    .wpcf7-not-valid-tip{
        display: none;
    }
    input[type="submit"] {
        border: none;
        cursor: pointer;
    }
}

.check-text {
    position: relative;
    font-size: em(12px);
    color: $w;
    font-weight: bold;
   display: inline-block;
    padding: 7px 13px;
    cursor: pointer;
}
.check-text-si {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.check-text-no {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.label_aut {
    font-size: em(14px);
    padding-left: em(30px, 14px);
    color: $gray-dark;
    font-weight: lighter;
}




.invalid {
    .form-input {
        .wpcf7-not-valid {
            border: 1px solid $brand-main;
        }
        .wpcf7-not-valid::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $brand-main;
        }
        .wpcf7-not-valid::-moz-placeholder { /* Firefox 19+ */
            color: $brand-main;
        }
        .wpcf7-not-valid:-ms-input-placeholder { /* IE 10+ */
            color: $brand-main;
        }
        .wpcf7-not-valid:-moz-placeholder { /* Firefox 18- */
            color: $brand-main;
        }
    }
}

.wpcf7-validation-errors {
    display: none!important;
}
span.autorizzazione, .screen-reader-response {
    display: none;
}

textarea[name="message"] {
    font-family: $main-font;
    resize: none;
}
input {
    font-family: $main-font;
}


.check {
    display: flex;
    &__wrap {
        flex: 0 0 auto;
        line-height: 1;
        display: inline-block;
        border-radius: 50px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: linear-gradient(to left, #878787, #737373) ;
        &:before {
            content: "";
            width:50%;
            height: 100%;
            position: absolute;
            background: $brand-main;
            background: linear-gradient(to right, $brand-second , $brand-main);
            top: 0;
            left: 0;
            transition: transform $speed, border-radius $speed;;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            box-shadow: 0 0 em(32px) transparentize($b, .85);

            .inactive & {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                transform: translate3d(100%, 0, 0);
            }
        }
    }

}





