.mainmenu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $w;
        height: em(70px);
        border-bottom: 1px solid $light;
        &--title {
            font-size: em(18px);
            color: $brand-main;
            text-transform: uppercase;
            font-weight: bold;
        }
        &--button {
            display: flex;
        }
    }
    &__left {
        width: calc(100% / 3);
        background-color: $w;
        height: 100%;

        &--list {
            cursor: pointer;
            position: relative;
            color: $b;
            padding-top: em(35px, 18px);
            padding-bottom: em(35px, 18px);
            text-transform: uppercase;
            border-bottom: 1px solid $light;
            border-top: 1px solid $light;
            transition: color $speed, background-color $speed, border-color $speed;
            &:after {
                position: absolute;
                top: 50%;
                right: em(50px);
                content: "";
                display: inline-block;
                width: em(10px);
                height: em(10px);
                border-right: 3px solid transparent;
                border-top: 3px solid transparent;
                transform: rotate(45deg) translateY(-50%);
                transition: border-color $speed;
            }

            span {
                font-size: em(18px);
            }
            &:hover {
                background-color: $brand-second;
                color: $w;
                border-color: $brand-second;

                &:after {
                    border-color: $w;
                }
            }
        }
    }
    &__right{
        width: calc(100% / 3 * 2);
        background-color: $brand-second;
        height: 100%;

        &--list {
            flex: 1;
            display: flex;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            height: 100vh;

            .item {
                width: 50%;
                min-height: min-content;
                display: flex;
                cursor: pointer;
                padding-top: em(35px, 18px);
                padding-bottom: em(35px, 18px);
                a{
                    color: $w;
                    font-size: em(18px);
                    text-transform: uppercase;
                }
            }
        }
    }


}