.main-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{em(70px)});
    display: flex;
    flex-wrap: wrap;
    transition: opacity $speed, visibility $speed;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $w;
        height: em(70px);
        border-bottom: 1px solid $light;
        &--title {
            font-size: em(18px);
            color: $brand-main;
            text-transform: uppercase;
            font-weight: bold;
        }
        &--button {
            display: flex;
        }
    }
    &__left {
        padding: 0;
        margin: 0;
        width: calc(100% / 3);
        background-color: $w;
        height: 100%;

        &--list {
            cursor: pointer;
            position: relative;
            color: $b;
            padding-top: em(35px, 18px);
            padding-bottom: em(35px, 18px);
            text-transform: uppercase;
            border-bottom: 1px solid $light;
            border-top: 1px solid $light;
            transition: color $speed, border-color $speed;
            span {
                font-size: em(18px);
                z-index: 2;
            }
            &:after {
                position: absolute;
                top: 50%;
                right: em(50px);
                content: "";
                display: inline-block;
                width: em(10px);
                height: em(10px);
                border-right: 3px solid transparent;
                border-top: 3px solid transparent;
                transform: rotate(45deg) translateY(-50%);
                transition: border-color $speed;
                z-index: 2;
            }
           /* &:before {
                content: '';
                @include absfull();
                opacity: 0;
                transition: opacity $speed;
                background: $brand-main;
                background: linear-gradient(to right, $brand-second , $brand-main);
            }
*/
            &:hover {
                border-color: transparent;
              /*  &:before {
                    opacity: 1;
                }*/
                span {
                    color: $w;
                }
                &:after {
                    border-color: $w;
                }
            }
        }
    }
    &__right{
        width: calc(100% / 3 * 2);
        background: $brand-main;
        background: linear-gradient(to right, $brand-second , $brand-main);
        height: 100%;
        overflow-y: scroll;
        &--list {
            flex: 1;
            display: flex;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 50%;
                min-height: min-content;
                cursor: pointer;
                padding-top: em(35px, 18px);
                padding-bottom: em(35px, 18px);
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                a{
                    color: $w;
                    font-size: em(18px);
                    text-transform: uppercase;
                }
            }
        }
    }
}

.main-menu.opened {
    opacity: 1;
    visibility: visible;
}