.product-schedule {
    display: flex;
    align-items: center;
    &__images {
        width: 100%;
        @include breakpoint($bp) {
            width: 50%;
        }
    }
    &__summary {
        width: 100%;
        @include breakpoint($bp) {
            width: 50%;
        }
        .header-title {
            display: flex;
            justify-content: space-between;
            a{
                font-size: em(18px);
                text-transform: uppercase;
                font-weight: bold;
            }
            .product-meta {
                color: $gray-light;
            }
        }

        .wc-tab {
            display: block!important;
        }
    }
}


