.product-schedule {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid $light;
    &__images {
        text-align: center;
        width: 100%;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            line-height: 0;
        }
        figure {
            width: auto;
            max-width: 100%;
            display: inline-block;
            margin: 0;
            img {
                width: 100%;
                height:	auto;
                display: block;
            }
        }
        @include breakpoint($bp) {
            width: 50%;
            border-right: 1px solid $light;
        }
    }
    &__summary {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: none;
        @include breakpoint($bp) {
            width: 50%;
            border-left: 1px solid $light;
        }
        .header-title {
            padding-top: em(20px);
            display: flex;
            justify-content: space-between;
            @include breakpoint($bp) {
                padding-top: 0;
            }
            span {
                font-size: em(18px);
            }
            a{
                font-size: em(18px);
                text-transform: uppercase;
                font-weight: bold;
                color: $brand-main;
            }
            .product-meta {
                color: $gray-light;
                font-size: em(14px);
                text-transform: uppercase;
            }
        }
        .product_title {
            font-size: em(30px);
            color: $b;
            padding-top: em(18px);
            padding-bottom: em(80px);
        }
        

        .wc-tab {
            display: block!important;
            h2, .attributes h4  {
                font-size: em(14px);
                color: $gray-light;
                font-weight: lighter;
                text-transform: uppercase;
            }
            p, .attributes p  {
                font-size: em(18px);
                color: $anthracite-dark;
                font-weight: lighter;
            }
        }
        div[itemprop="description"] h4  {
            font-size: em(14px);
            color: $gray-light;
            font-weight: lighter;
            text-transform: uppercase;
        }
        div[itemprop="description"] p  {
            font-size: em(18px);
            color: $anthracite-dark;
            font-weight: lighter;
        }
    }
}


