.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include grow();
    .menu {
        display: block;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        @include breakpoint($bp) {
            width:auto;
        }

        &__item {
            display: inline-block;
            text-align: center;
            a {
                padding-left: em(30px);
                padding-right: em(30px);
                color: $brand-second;
                line-height: 1;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
            }

        }
    }
}

.widgetleft, .widgetright {
    flex: 0 0 auto;
    font-size: em(12px);
    line-height: 1.5;
    width: 100%;
    @include breakpoint($bp) {
        width:auto;
    }
    a {
        color: $anthracite-dark;
        transition: color $speed;
        &:hover {
            color: $gray-light
        }
    }
}

.widgetleft {
    text-align: center;
    @include breakpoint($bp) {
        text-align: left;
    }
}

.widgetright {
    text-align: center;
    @include breakpoint($bp) {
        text-align: right;
    }
}

.subfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: em(12px);
        font-style: italic;
    }
}
