.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: em(70px);
    box-shadow: 0 0 em(40px) rgba(0,0,0,0.1);
    position: fixed;
    background-color: $w;
    width: 100%;

    &__nav {
        width: 100%;

        a {
            padding-left: em(30px);
            padding-right: em(30px);
            line-height: 1;
            color: $b;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
        }

    }
    &__preventivi {
        display: flex;
    }

}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    &__item {
        display: inline-block;
        text-align: center;
        font-size: em(18px);

        &--active {
            a {
                color: $brand-second;
            }
        }
        &--catalogo {
            &:after {
                position: relative;
                top: -3px;
                right: em(25px);
                content: "";
                display: inline-block;
                width: em(10px);
                height: em(10px);
                border-right: 3px solid $brand-main;
                border-top: 3px solid $brand-main;
                transform: rotate(135deg);
                margin-left: em(10px);
                transition: all 0.3s;
            }
        }
    }

}