.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: em(70px);

    &__nav{
        width: 100%;

        a {
            line-height: 1;
            color: $b;
            text-decoration: none;
            text-transform: uppercase;
        }

    }

}




.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    &__item{
        display: inline-block;
        text-align: center;

        &--active {
            a {
                color: $brand-second;
            }
        }
    }


}